/* GAMA DE COLORES 


#C200FB
#EC0868
#FC2F00
#EC7D10
#FFBC0A

*/




/* Resetear estilos por defecto */
body, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

h1, h3 {
    font-family: 'Roboto', sans-serif;
    font-style: italic; /* Aplica la cursiva */
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .sectionIMG {
    width: 100%;
    height: 50vh;
  }
  .carousel {
    list-style: none;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: auto;
  }
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel li {
    flex: 1;
    transition: all .2s ease-in;
    cursor: pointer;
    filter: grayscale(100%);
    border: 2px solid white;
    background: black;
  }
  .carousel li:hover {
    filter: grayscale(0);
    background: lightblue;
    flex: 4;
  }
  .carousel li:not(:hover) img {
    filter: blur(.5px);
    opacity: .6;
  }

header {
    background: linear-gradient(to bottom, #EC7D10, #ffffff);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

section {
    padding: 50px;
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f4f4f4;
}





